@media only screen and (max-width: 575px){
    .admission-image{
        display: none;
    }
    .admission-container{
        padding-top: 100px;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding-bottom: 50px;
    }

    .admission-card{
        display: grid;
        grid-gap: 20px;
    }
    .admission-header{
        text-align: center;
    }

    .admission-article{
        background-color: white;
        box-shadow:  0px 4px 18px -8px rgba(0, 0, 0, 0.25);
        padding: 20px;
        cursor: pointer;
    }
    .admission-article:hover{
        box-shadow: var(--card-hover);
    }

    .admission-article figure{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .admission-article-content{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .admission-cta{
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .admission-article img{
        transition: all 0.5s ease;
        transform: translateX(1);
    }

    .admission-article:hover img{
        transition: all 0.5s ease;
        transform: translateX(15%);
    }

    .admission-cta p{
        color: var(--purple);
    }

}

@media only screen and (min-width: 575px){

    .admission-container{
        padding-top: 100px;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding-bottom: 50px;
    }

    .admission-card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    .admission-header{
        text-align: center;
    }

    .admission-article{
        cursor: pointer;
        width: 100%;
    }

    .admission-image-div{
        background-color: var(--hover);
    }

    .admission-image-div img{
        display: block;
    }

    .admission-article-content{
        padding: 20px;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
   

    .admission-article figure{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .admission-cta{
        display: flex;
        align-items: center;
        gap: 5px;
        border-bottom: 3px solid var(--green);
        width: max-content;
    }
    .admission-article .admission-image {
      width: 100%;
    }

    .admission-cta .ctaArrow{
        transition: all 0.5s ease;
        transform: translateX(0);

    }

    .admission-cta:hover .ctaArrow{
        transition: all 0.5s ease;
        transform: translateX(15%);
    }

    .admission-cta p{
        color: var(--purple);
    }   

   
}


@media only screen and (min-width: 1024px){
 
    
    .admission-card{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }

}