@media only screen and (max-width: 575px){
    
.article-article{
    display: grid;
    grid-gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
}

@media only screen and (min-width: 575px){
    .article-article{
        display: grid;
        grid-gap: 30px;
        margin-top: 50px;
        margin-bottom: 50px;
        padding-left: 10%;
        padding-right: 10%;
    }
    
}

@media only screen and (min-width: 1024px){
    
    .article-article{
        display: grid;
        grid-gap: 30px;
        margin-top: -200px;
        margin-bottom: 50px;
        padding-left: 20%;
        padding-right: 20%;
    }
}