@media only screen and (min-width: 1px){

    .desktop-background{
        display: none;
    }
    .mobile-tablet-header-container{
        position: fixed;
        background-color: var(--purple);
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 20;
        box-shadow: var(--card-hover);
    }
    .mobile-tablet-header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 10px;
      min-width: 100vw;
    }
    .mobile-tablet-logo img{
        width: 100px;
    }
  

    /********OPEN********/
.search-hamburger-div{
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
}

.mobile-tablet-search-two-div{
    display: none;
}

.mobile-tablet-hamburger-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    padding: 24px;
    padding-left: 18px;
    padding-right: 18px;
}

.mobile-tablet-hamburger-div:hover{
    background-color: var(--hover);
}


    /********CLOSE********/
.mobile-tablet-search-close{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -670px;
    transition: all 1s ease;
    display: none;
    left: 0;
}

.responsive-nav{
    transition: all 1s ease;
    display: flex;
}

.search-close-div{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
    color: white;
    max-width: 100vw;
}

.mobile-tablet-search-div{
    display: none;
}

.mobile-tablet-close-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.mobile-tablet-close-div{
    padding: 24px;
    padding-left: 18px;
    padding-right: 18px;
}

.mobile-tablet-close-div:hover{
    background-color: var(--hover);
}

}