@media only screen and (max-width: 420px){
   
    .hero-image{
        position: relative;
        background: var(--purple);
        top: -200;
        z-index: -50;
    }
    .hero-image img{
        height: 100vh;
        width: 100%;
        object-fit: cover;
        filter: brightness(50%);

    }
    .image-content{
        top: 23%;
        bottom: 23%;
        position: absolute;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .image-content h1{
        font-size: 60px;
        line-height: 65px;
    }

    .learn-more-div{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2px;
        background-color: var(--purple);
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        transition: all 0.3s ease-in;
        cursor: pointer;
    }
    .learn-more-div:hover img{
        transition: all 0.9s ease-in-out;
        transform: translateY(15%);

    }


    .learn-more-div p, .learn-more-div img{
        cursor: pointer;
    }
}

@media only screen and (min-width: 420px){
   
    .hero-image{
        position: relative;
        background: var(--hover);
        top: -200;
        z-index: -50;
    }
    .hero-image img{
        height: 100vh;
        width: 100%;
        object-fit: cover;
        filter: brightness(50%);
        display: block;
    }
    .image-content{
        top: 30%;
        bottom: 23%;
        position: absolute;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .image-content h1{
        font-size: 60px;
        line-height: 65px;
    }

    .learn-more-div{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2px;
        background-color: var(--purple);
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        transition: all 0.3s ease-in;
        cursor: pointer;
    }
    .learn-more-div:hover img{
        transition: all 0.9s ease-in-out;
        transform: translateY(15%);

    }


    .learn-more-div p, .learn-more-div img{
        cursor: pointer;
    }
}

@media only screen and (min-width: 460px){

    .hero-image{
        position: relative;
        top: -200;
        z-index: -50;
    }
    .hero-image img{
        height: 100vh;
        width: 100%;
        object-fit: cover;
        filter: brightness(50%);
    }

    .image-content{
        top: 35%;
        bottom: 25%;
        position: absolute;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .learn-more-div{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2px;
        background-color: var(--purple);
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        transition: all 0.3s ease-in;
        cursor: pointer;
    }
    .learn-more-div:hover img{
        transition: all 0.9s ease-in-out;
        transform: translateY(15%);

    }


    .learn-more-div p, .learn-more-div img{
        cursor: pointer;
    }

}

@media only screen and (min-width: 575px){
    
    
    .hero-image{
        position: relative;
        top: -200;
        z-index: -50;
       
    }
    .hero-image img{
        height: 100vh;
        width: 100%;
        object-fit: cover;
        filter: brightness(50%);
    }

    .image-content{
        top: 35%;
        position: absolute;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .learn-more-div{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2px;
        background-color: var(--purple);
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        transition: all 0.3s ease-in;
        cursor: pointer;
    }
    .learn-more-div:hover img{
        transition: all 0.9s ease-in-out;
        transform: translateY(15%);

    }


    .learn-more-div p, .learn-more-div img{
        cursor: pointer;
    }
    
}

@media only screen and (min-width: 1024px){
     
    .hero-image{
        position: relative;
        top: -200;
        z-index: -50;
     
    }
    .hero-image img{
        height: 100vh;
        width: 100%;
        object-fit: cover;
        filter: brightness(50%);
        position: relative;
        top: -250px;
        z-index: -1;
    
    }

    .image-content{
        top: 47%;
        position: absolute;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        color: white;
        left: 10%;
        right: 10%;
    }

    .learn-more-div{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2px;
        background-color: var(--purple);
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        transition: all 0.3s ease-in;
        cursor: pointer;
    }
    .learn-more-div:hover img{
        transition: all 0.9s ease-in-out;
        transform: translateY(15%);

    }


    .learn-more-div p, .learn-more-div img{
        cursor: pointer;
    }
    
    
}