@media only screen and (max-width: 575px){

    .tablet-desktop-cards, .news-picture{
        display: none;
    }

    .news-container{
        background-color: var(--spring-wood);
        padding: 50px 20px;
        margin-top: -40px;
        padding-top: 100px;
    }

    .news-header{
       text-align: center;
    }

    
    .mobile-news-cards{
        display: grid;
        grid-gap: 20px;
        margin-top: 50px;
    }

    .mobile-news-cards article{
    
        background-color: white;
        cursor: pointer;
        box-shadow:  0px 4px 18px -8px rgba(0, 0, 0, 0.25);
        padding: 20px;
 
    }

  

    .mobile-news-cards article figure{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .mobile-news-cards article:hover{
        box-shadow: var(--card-hover);
    }

    .mobile-news-cards figure{
        display: grid;
        grid-gap: 0px;
    }

    .mobile-card-logo{
        display: flex;
        gap: 10px;
    }

    .mobile-card-logo p{
        color: var(--purple);
    }

    .news-button{
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        margin-top: 50px;
        cursor: pointer;
    }

    .news-button:hover{
        background-color: var(--hover);
    }

}

@media only screen and (min-width: 575px){
    
    .tablet-desktop-cards{
        display: none;
    }

    .news-container{
        background-color: var(--spring-wood);
        padding: 50px 20px;
        margin-top: -10px;
        padding-top: 100px;
    }



    .news-header{
       text-align: center;
    }
    
    .mobile-news-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        margin-top: 50px;
    }

    .mobile-news-cards article{
        background-color: white;
        cursor: pointer;
        box-shadow:  0px 4px 18px -8px rgba(0, 0, 0, 0.25);
        overflow: hidden;
    }
    .article-image-div{
        background: var(--purple);
        height: auto;
        width: auto;
    }


    .article-image-div img, .other-image-div img, .desktop-image-div img{
         display: block;
         max-width: 100%;
         max-height: 100%;
    }
    .mobile-news-cards article:hover{
        box-shadow: var(--card-hover);
    }

    .mobile-news-cards article figure{
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .article-image-div{
        overflow: hidden;
    }
    .mobile-news-cards article .mobile-news-image{
        width: 100%;
        transition: all 1s ease-in-out;
        transform: scale(1);
    }

    
    .mobile-news-cards article:hover img{
        transform: scale(1.02);
        transition: all 0.5s ease-in-out;
    }

    .mobile-card-logo{
        display: flex;
        gap: 10px;
    }

    .mobile-card-logo p{
        color: var(--purple);
    }

    .news-button{
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        margin-top: 50px;
        cursor: pointer;
    }

    .news-button:hover{
        background-color: var(--hover);
    }
}

@media only screen and (min-width: 870px){
    .mobile-news-cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }

    
 
}

@media only screen and (min-width: 920px){
    .mobile-news-cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }

    .news-card-content{
        background-color: red;
        display: flex;
    }
    
 
}

@media only screen and (min-width: 1024px){

    .mobile-news-cards article{
        display: none;
    }

    .news-card-content{
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 20px;
        height: 100%;
    }

    .news-container{
        background-color: var(--spring-wood);
        padding: 50px 20px;
        margin-top: -290px;
        padding-top: 100px;
    }

    .tablet-desktop-cards{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px;
    }
    .tablet-desktop-cards article{
        width: 100%;
        height: 100%;
        overflow: hidden;
        cursor: pointer;
        background-color: white;
        box-shadow:  0px 4px 18px -8px rgba(0, 0, 0, 0.25);
    }

   
    .tablet-desktop-cards article .other-images{
        width: 100%;
    }

    .tablet-desktop-cards article:nth-child(1){
        grid-column-start: span 6;
        position: relative;
    }
    .tablet-desktop-cards article:nth-child(2){
        grid-column-start: span 3;
        height: 100%;
        width: 100%;
    }
    .tablet-desktop-cards article:nth-child(3){
        grid-column-start: span 3;
    }
    .tablet-desktop-cards article:nth-child(4){
        grid-column-start: span 3;
    }
    .tablet-desktop-cards article:nth-child(5){
        grid-column-start: span 3;
    }
    .tablet-desktop-cards article:nth-child(6){
        grid-column-start: span 6;
        position: relative;
    }

    .tablet-desktop-cards article:nth-child(1) img,
    .tablet-desktop-cards article:nth-child(2) img,
    .tablet-desktop-cards article:nth-child(3) img,
    .tablet-desktop-cards article:nth-child(4) img,
    .tablet-desktop-cards article:nth-child(5) img,
    .tablet-desktop-cards article:nth-child(6) img{
        transition: all 0.5s ease-in;
        transform: scale(1);
    }

    .tablet-desktop-cards article:nth-child(1):hover img,
    .tablet-desktop-cards article:nth-child(2):hover img,
    .tablet-desktop-cards article:nth-child(3):hover img,
    .tablet-desktop-cards article:nth-child(4):hover img,
    .tablet-desktop-cards article:nth-child(5):hover img,
    .tablet-desktop-cards article:nth-child(6):hover img{
        transition: all 0.5s ease-in;
        transform: scale(1.02);
    }

    .tablet-desktop-cards article:nth-child(1),
    .tablet-desktop-cards article:nth-child(2),
    .tablet-desktop-cards article:nth-child(3),
    .tablet-desktop-cards article:nth-child(4),
    .tablet-desktop-cards article:nth-child(5),
    .tablet-desktop-cards article:nth-child(6){
        transition: all 0.5s ease-in;
     
    }

    .tablet-desktop-cards article:nth-child(1):hover,
    .tablet-desktop-cards article:nth-child(2):hover,
    .tablet-desktop-cards article:nth-child(3):hover,
    .tablet-desktop-cards article:nth-child(4):hover,
    .tablet-desktop-cards article:nth-child(5):hover,
    .tablet-desktop-cards article:nth-child(6):hover{
        transition: all 0.5s ease-in;
        box-shadow: var(--card-hover);
    }

    .other-image-div, .desktop-image-div {
      overflow:hidden
    }

    .news-card-content, .news-Card-content{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
     
    }
  

    .news-Card-content{
        position: absolute;
        bottom: 0px;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 20px;
        background:linear-gradient(0deg, #000000 30.92%, rgba(0, 0, 0, 0) 100%);;
    }

    .tablet-desktop-logo{
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: start;
    }

    .tablet-desktop-logo img{
        width: 20px;
        height: 20px;
    }

    .tablet-desktop-logo p{
        color: var(--purple);
    }
    
}