@media only screen and (min-width: 1px) {
    .desktop-background-newspage {
        display: none;
    }

    .mobile-tablet-header-container-newspage {
        background-color: var(--purple);
        height: 60px;
        position: fixed;
        width: 100vw;
        z-index: 100;
    }

    .mobile-tablet-header-newspage {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding-left: 10px;
    }

    .mobile-tablet-logo-newspage img {
        width: 100px;
    }

    /*****CLOSE*****/
    .mobile-tablet-search-close-newspage {
        transform: translateY(-100vh);
        transition: all ease-in-out;
        display: flex;
        flex-direction: column;
        gap: 0;
        align-items: end;
        position: relative;
    }

    .responsive-nav {
        transform: none;
        transition: all ease-in-out;
    }

    .mobile-tablet-search-div-newspage {
        display: none;
    }

    .mobile-tablet-close-div-newspage {
        display: flex;
        align-items: center;
        gap: 5px;
        color: white;
        padding: 19px;
        margin-top: -58.5px;
        cursor: pointer;

    }

    .mobile-tablet-close-div-newspage:hover {
        background-color: var(--hover);
    }


    /*****OPEN*****/
    .search-hamburger-div-newspage {
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .mobile-tablet-search-two-div-newspage {
        display: none;
    }

    .mobile-tablet-hamburger-div-newspage {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 19.2px;
        color: white;
        cursor: pointer;
    }

    .mobile-tablet-hamburger-div-newspage:hover {
        background-color: var(--hover);
    }

    .mobile-tablet-search-div-newspage p,
    .mobile-tablet-close-div-newspage p {
        font-size: 16px;
        font-weight: 900;
    }


    .mobile-tablet-search-div-newspage img,
    .mobile-tablet-close-div-newspage img {
        width: 16px;
    }


    .mobile-tablet-hamburger-div-newspage p,
    .mobile-tablet-search-two-div-newspage p {
        font-size: 16px;
        font-weight: 900;
    }


    .mobile-tablet-hamburger-div-newspage img,
    .mobile-tablet-search-two-div-newspage img {
        width: 16px;
    }



    /*****DROPDOWN*****/
    .mobile-tablet-dropdown-newspage {
        background-color:var(--hover);
        width: 100%;
    }

    .mobile-tablet-upper-dropdown-newspage {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 1px;
        z-index: 20;

    }

    .mobile-tablet-upper-dropdown-newspage a {
        border: 1px solid var(--purple);
        padding: 18px;
        width: 100%;
        text-align: center;
        font-weight: 900;

    }

    .mobile-tablet-upper-dropdown-newspage a:hover {
        background-color: lightgoldenrodyellow;
        color: black;
        outline: none;
        border: 1px solid black;
    }

    .mobile-tablet-lower-dropdown-newspage {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: antiquewhite;

    }

    .lower-dropdown-nav-newspage {
        word-break: break-all;
        display: block;
        text-align: center;

    }

    .lower-dropdown-nav-newspage a {
        color: black;
        white-space: nowrap;
        margin-right: 10px;
        padding: 10px;
        line-height: 45px;
        border-radius: 4px;
    }

    .lower-dropdown-nav-newspage a:hover {
        background: black;
        color: white;
    }

    .lower-dropdown-button-newspage {
        background-color: var(--purple);
        color: white;
        padding: 10px;
        border-radius: 4px;
        outline: none;
        border: none;
    }

}

@media only screen and (min-width: 400px) {

    .desktop-background-newspage {
        display: none;
    }

    .mobile-tablet-header-container-newspage {
        background-color: var(--purple);
        height: 60px;
        position: fixed;
        width: 100vw;
    }

    .mobile-tablet-header-newspage {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding-left: 10px;
    }

    .mobile-tablet-logo-newspage img {
        width: 100px;
    }

    /*****CLOSE*****/
    .mobile-tablet-search-close-newspage {
        transform: translateY(-100vh);
        transition: all ease-in-out;
        display: flex;
        flex-direction: column;
        gap: 0;
        align-items: end;
        position: relative;
    }

    .responsive-nav-newspage {
        transform: none;
        transition: all ease-in-out;
    }

    .mobile-tablet-search-div-newspage {
        display: none;
    }


    .mobile-tablet-close-div-newspage {
        display: flex;
        align-items: center;
        gap: 5px;
        color: white;
        padding: 19px;
        cursor: pointer;
    }

    .mobile-tablet-close-div-newspage:hover {
        background-color: var(--hover);
    }


    /*****OPEN*****/
    .search-hamburger-div-newspage {
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .mobile-tablet-search-two-div-newspage {
        display: none;
    }

    .mobile-tablet-hamburger-div-newspage {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 19.2px;
        color: white;
        cursor: pointer;
    }

    .mobile-tablet-hamburger-div-newspage:hover {
        background-color: var(--hover);
    }

    .mobile-tablet-search-div-newspage p,
    .mobile-tablet-close-div-newspage p {
        font-size: 16px;
        font-weight: 900;
    }


    .mobile-tablet-search-div-newspage img,
    .mobile-tablet-close-div-newspage img {
        width: 16px;
    }

    .mobile-tablet-hamburger-div-newspage p,
    .mobile-tablet-search-two-div-newspage p {
        font-size: 16px;
        font-weight: 900;
    }


    .mobile-tablet-hamburger-div-newspage img,
    .mobile-tablet-search-two-div-newspage img {
        width: 16px;
    }



    /*****DROPDOWN*****/
    .mobile-tablet-dropdown-newspage {
        background-color: var(--hover);
        width: 100%;
    }

    .mobile-tablet-upper-dropdown-newspage {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-top: 1px;
        z-index: 20;

    }

    .mobile-tablet-upper-dropdown-newspage a {
        border: 1px solid var(--purple);
        padding: 22px;
        width: 100%;
        text-align: center;
        font-weight: 900;

    }

    .mobile-tablet-upper-dropdown-newspage a:hover {
        background-color: lightgoldenrodyellow;
        color: black;
        outline: none;
        border: 1px solid black;
    }

    .mobile-tablet-lower-dropdown-newspage {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: antiquewhite;

    }

    .lower-dropdown-nav-newspage {
        word-break: break-all;
        display: block;
        text-align: center;

    }

    .lower-dropdown-nav-newspage a {
        color: black;
        white-space: nowrap;
        margin-right: 10px;
        padding: 10px;
        line-height: 45px;
        border-radius: 4px;
    }

    .lower-dropdown-nav-newspage a:hover {
        background: black;
        color: white;
    }

    .lower-dropdown-button {
        background-color: var(--purple);
        color: white;
        padding: 10px;
        border-radius: 4px;
        outline: none;
        border: none;
    }

}

@media only screen and (min-width: 560px) {

    .desktop-background-newspage {
        display: none;
    }

    .mobile-tablet-header-container-newspage {
        background-color: var(--purple);
        height: 60px;
        position: fixed;
        width: 100vw;
    }

    .mobile-tablet-header-newspage {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding-left: 20px;

    }

    .mobile-tablet-logo-newspage img {
        width: 100px;
    }

    /*****CLOSE*****/
    .mobile-tablet-search-close-newspage {
        transform: translateY(-100vh);
        transition: all ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: end;
        position: relative;
    }

    .responsive-nav {
        transform: none;
        transition: all ease-in-out;
    }

    .search-close-div-newspage {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobile-tablet-search-div-newspage {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        color: white;
        padding: 19px;
        margin-top: -60px;
        cursor: pointer;
    }

    .mobile-tablet-search-div-newspage:hover {
        background-color: var(--hover);
    }



    .mobile-tablet-close-div-newspage {
        display: flex;
        align-items: center;
        gap: 5px;
        color: white;
        padding: 19px;
        margin-top: -60px;
        cursor: pointer;

    }

    .mobile-tablet-close-div-newspage:hover {
        background-color: var(--hover);
    }


    /*****OPEN*****/
    .search-hamburger-div-newspage {
        display: flex;
        align-items: center;
        justify-content: end;
    }


    .mobile-tablet-search-two-div-newspage {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 19px;
        color: white;
        cursor: pointer;
    }

    .mobile-tablet-search-two-div-newspage:hover {
        background-color: var(--hover);
    }



    .mobile-tablet-hamburger-div-newspage {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 19px;
        color: white;
        cursor: pointer;
    }

    .mobile-tablet-hamburger-div-newspage:hover {
        background-color: var(--hover);
    }


    .mobile-tablet-search-div-newspage p,
    .mobile-tablet-close-div-newspage p {
        font-size: 16px;
        font-weight: 900;
    }


    .mobile-tablet-search-div-newspage img,
    .mobile-tablet-close-div-newspage img {
        width: 16px;
    }

    .mobile-tablet-hamburger-div-newspage p,
    .mobile-tablet-search-two-div-newspage p {
        font-size: 16px;
        font-weight: 900;
    }


    .mobile-tablet-hamburger-div-newspage img,
    .mobile-tablet-search-two-div-newspage img {
        width: 16px;
    }


    /*****DROPDOWN*****/
    .mobile-tablet-dropdown-newspage {
        background-color: var(--hover);
        width: 100%;
        position: relative;
        z-index: 40;
    }

    .mobile-tablet-upper-dropdown-newspage {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-top: 1px;
        z-index: 20;
    }

    .mobile-tablet-upper-dropdown-newspage a {
        border: 1px solid var(--purple);
        padding: 18px;
        width: 100%;
        text-align: center;
        font-weight: 900;

    }

    .mobile-tablet-upper-dropdown-newspage a:hover {
        background-color: lightgoldenrodyellow;
        color: black;
        outline: none;
        border: 1px solid black;
    }

    .mobile-tablet-lower-dropdown-newspage {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: antiquewhite;

    }

    .lower-dropdown-nav-newspage {
        word-break: break-all;
        display: block;
        text-align: center;

    }

    .lower-dropdown-nav-newspage a {
        color: black;
        white-space: nowrap;
        margin-right: 10px;
        padding: 10px;
        line-height: 45px;
        border-radius: 4px;
    }

    .lower-dropdown-nav-newspage a:hover {
        background: black;
        color: white;
    }

    .lower-dropdown-button-newspage {
        background-color: var(--purple);
        color: white;
        padding: 10px;
        border-radius: 4px;
        outline: none;
        border: none;
    }

}

@media only screen and (min-width: 700px) {

    .desktop-background-newspage {
        display: none;
    }

    .mobile-tablet-header-container-newspage {
        background-color: var(--purple);
        height: 60px;
        position: fixed;
        width: 100vw;
    }

    .mobile-tablet-header-newspage {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding-left: 20px;

    }

    .mobile-tablet-logo-newspage img {
        width: 100px;
    }

    /*****CLOSE*****/
    .mobile-tablet-search-close-newspage {
        transform: translateY(-100vh);
        transition: all ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: end;
        position: relative;
        z-index: 100;
    }

    .responsive-nav {
        transform: none;
        transition: all ease-in-out;
    }

    .search-close-div-newspage {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobile-tablet-search-div-newspage {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        color: white;
        padding: 19px;
        margin-top: -60px;
        cursor: pointer;
    }

    .mobile-tablet-search-div-newspage:hover {
        background-color: var(--hover);
    }



    .mobile-tablet-close-div-newspage {
        display: flex;
        align-items: center;
        gap: 5px;
        color: white;
        padding: 19px;
        margin-top: -60px;
        cursor: pointer;

    }

    .mobile-tablet-close-div-newspage:hover {
        background-color: var(--hover);
    }


    /*****OPEN*****/
    .search-hamburger-div-newspage {
        display: flex;
        align-items: center;
        justify-content: end;
    }


    .mobile-tablet-search-two-div-newspage {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 19px;
        color: white;
        cursor: pointer;
    }

    .mobile-tablet-search-two-div-newspage:hover {
        background-color: var(--hover);
    }



    .mobile-tablet-hamburger-div-newspage {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 19px;
        color: white;
        cursor: pointer;
    }

    .mobile-tablet-hamburger-div-newspage:hover {
        background-color: var(--hover);
    }


    .mobile-tablet-search-div-newspage p,
    .mobile-tablet-close-div p {
        font-size: 16px;
        font-weight: 900;
    }


    .mobile-tablet-search-div-newspage img,
    .mobile-tablet-close-div-newspage img {
        width: 16px;
    }

    .mobile-tablet-hamburger-div-newspage p,
    .mobile-tablet-search-two-div-newspage p {
        font-size: 16px;
        font-weight: 900;
    }


    .mobile-tablet-hamburger-div-newspage img,
    .mobile-tablet-search-two-div-newspage img {
        width: 16px;
    }


    /*****DROPDOWN*****/
    .mobile-tablet-dropdown-newspage {
        background-color: var(--hover);
        width: 100%;
        position: relative;
        z-index: 40;
    }

    .mobile-tablet-upper-dropdown-newspage {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-top: 1px;
        z-index: 20;
    }

    .mobile-tablet-upper-dropdown-newspage a {
        border: 1px solid var(--purple);
        padding: 24px;
        width: 100%;
        text-align: center;
        font-weight: 900;

    }

    .mobile-tablet-upper-dropdown-newspage a:hover {
        background-color: lightgoldenrodyellow;
        color: black;
        outline: none;
        border: 1px solid black;
    }

    .mobile-tablet-lower-dropdown-newspage {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: antiquewhite;

    }

    .lower-dropdown-nav-newspage {
        word-break: break-all;
        display: block;
        text-align: center;

    }

    .lower-dropdown-nav-newspage a {
        color: black;
        white-space: nowrap;
        margin-right: 10px;
        padding: 10px;
        line-height: 45px;
        border-radius: 4px;
    }

    .lower-dropdown-nav-newspage a:hover {
        background: black;
        color: white;
    }

    .lower-dropdown-button-newspage {
        background-color: var(--purple);
        color: white;
        padding: 10px;
        border-radius: 4px;
        outline: none;
        border: none;
        cursor: pointer;
    }

}

@media only screen and (min-width: 1024px) {

    .mobile-tablet-header-container-newspage,
    .mobile-tablet-header-newspage,
    .mobile-tablet-dropdown-newspage {
        display: none;
    }

    /*SCROLLED EFFECTS*/
    .desktop-header-background-newspage.upper-scrolled-newspage{
        background-color: var(--purple);
        max-width: 100vw;
    }
    .desktop-header-background-newspage.upper-scrolled-newspage .desktop-header-newspage {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        padding-left: 0;
        padding-right: 0;
     
    }
    .desktop-header-background-newspage.upper-scrolled-newspage .desktop-logo-uppernav-newspage{
       display: flex;
       align-items: center;
       justify-content: space-between;

    }
    .desktop-header-background-newspage.upper-scrolled-newspage .upper-nav-newspage{
      gap: 30px;
    }
    .desktop-header-background-newspage.upper-scrolled-newspage .upper-nav-newspage a{
      
    }
    .desktop-header-background-newspage.upper-scrolled-newspage .upper-nav-newspage a:not(:last-child):hover{

        background-color: var(--hover);
    }
    .desktop-header-background-newspage.upper-scrolled-newspage .upper-nav-newspage a:not(:last-child)::before{
        content: "";
        background-color: transparent;
        border-radius: 50px;
        width: 100%;
        height: 3px;
        position: absolute;
        top: -8px;
        transform: scaleX(0);
        transition: all 0.3s ease-in;

    }

    .desktop-header-background-newspage.upper-scrolled-newspage .search-div-newspage{
    
    }
    /*SCROLLED EFFECTS*/

    .desktop-background-newspage {
        display: block;
        position: fixed;
        z-index: 100;
    }
    .hero-background-two-newspage {
        position: relative;
        z-index: -20;
        background-color: var(--hover);
        height: 60%;
        width: 100%;
    }
    .desktop-background-newspage {
        background: var(--gradient);
        height: 250px;
    }
    .desktop-background-newspage.transparent{
        background: none;
    }
    .desktop-header-background-newspage{
        background-color: none;
    }
    
    .desktop-header-newspage {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-top: 15px;
        width: 100vw;
    }


    .desktop-logo-newspage img {
        width: 134.47px;
        height: 48px;
    }

    .desktop-logo-newspage {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .desktop-logo-uppernav-newspage {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .upper-nav-newspage {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .upper-nav-newspage a {
        position: relative;
       
    }

    .upper-nav-newspage a:not(:last-child)::before {
        content: "";
        background-color: white;
        border-radius: 50px;
        width: 100%;
        height: 3px;
        position: absolute;
        top: -8px;
        transform: scaleX(0);
        transition: all 0.3s ease-in;
    }

    .upper-nav-newspage a:not(:last-child):hover::before {

        transform: scaleX(1);
        transition: all 0.3s ease-in;
    }

    .search-div-newspage {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .lower-nav-newspage {
        display: flex;
        align-items: center;
        gap: 20px;
        align-self: center;
    }

    .lower-nav-newspage.lower-scrolled-newspage{
        background-color: white;
        margin-top: -30px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: var(--card-hover);
        width: 100vw;
        margin-top: -15px;
        padding-top: 15px;
        padding-bottom: -15px;
    }

    .lower-nav-newspage.lower-scrolled-newspage a{
        color: black;
        height: 46px;
        padding-top: -30px;
    }

    .lower-nav-newspage.lower-scrolled-newspage a:hover{
       color: var(--purple);
    }

    .lower-nav-newspage.lower-scrolled-newspage a::after {
        content: "";
        background-color: var(--purple);
        border-radius: 50px;
        width: 100%;
        height: 3px;
        bottom: 2px;
        left: 0%;
        position: absolute;
        transform: scaleX(0);
        transition: all 0.3s ease-in;
    }

    .lower-nav-newspage.lower-scrolled-newspage a:hover::after {
        transform: scaleX(1);
        transition: all 0.3s ease-in;
    }

    .lower-nav-newspage a {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        position: relative;
    }

    .lower-nav-newspage a::after {
        content: "";
        background-color: white;
        border-radius: 50px;
        width: 100%;
        height: 3px;
        bottom: -8px;
        left: 0%;
        position: absolute;
        transform: scaleX(0);
        transition: all 0.3s ease-in;
    }

    .lower-nav-newspage a:hover::after {
        transform: scaleX(1);
        transition: all 0.3s ease-in;
    }
}