@media only screen and (max-width: 575px){
    
    .newsCards-header{
        padding: 20px;
        text-align: center;
        background-color: var(--hover);
        color: white;
        position: relative;
        z-index: -10;
        width: 100%;
        height: 200px;
        top: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    
}

@media only screen and (min-width: 575px){
    
    .newsCards-header{
        padding: 20px;
        text-align: center;
        background-color: var(--hover);
        color: white;
        position: relative;
        z-index: -10;
        width: 100%;
        height: 200px;
        top: 50px;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    
}

@media only screen and (min-width: 1024px){
    
    .newsCards-header{
        text-align: center;
        background-color: var(--hover);
        color: white;
        position: relative;
        z-index: -10;
        width: 100%;
        height: 650px;
        top: -100px;
        padding-top: 200px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    
}