@media only screen and (max-width: 575px){
    .top-cards, .logotext,   .newsCard-image{
        display: none;
    }
    .newsCards-container{
        padding-top: 100px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .newsCards-header{
        text-align: center;
    }

   .grid-cards{
    display: grid;
    grid-gap: 20px;
   }

    .newsCards-article{
        background-color: white;
        box-shadow:  0px 4px 18px -8px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        padding: 20px;
    }

    .grid-card-content{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .newsCards-article:hover{
       box-shadow: var(--card-hover);
    }

    .newsCard-button{
        border: none;
        cursor: pointer;
    }

    .newsCard-button:hover {
      background-color: var(--hover);
    }

}

@media only screen and (min-width: 575px){


.newsCards-container{
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.newsCards-header{
    text-align: center;
}

.top-cards{
    display: none;
}

.newsCards-image-div{
    background: var(--hover);
}

.newsCards-image-div img{
    display: block;
}

.after-image-div, .first-image{
    background: var(--hover);
}

.after-image-div img, .first-image img{
    display: block;
}

.newsCards-article .newsCard-image{
    width: 100%;
    height: 100%;
}

.grid-cards{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 20px;
}

.newsCards-article{
    background-color: white;
    box-shadow:  0px 4px 18px -8px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    overflow: hidden;
}

.grid-card-content{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
figure, picture, .newsCards-image-div{
    overflow: hidden;
}

.newsCards-article:hover{
   box-shadow: var(--card-hover);
}
.newsCards-article .newsCard-image{
    transition: all 1s ease;
    transform: scale(1);
}
.newsCards-article:hover .newsCard-image {
  transition: all 1s ease;
  transform: scale(1.05);

}

.newsCard-button{
    border: none;
    cursor: pointer;
}

.newsCard-button:hover {
  background-color: var(--hover);
}
    
}

@media screen and (min-width: 900px) {
    .grid-cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        }
}

@media only screen and (min-width: 1024px){  
.newsCards-container{
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: -200px;
}

/* TOP THREE CARDS*/
.top-cards{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 20px;
    margin-bottom: -30px;
}

/* first CARD*/
.top-cards article:nth-child(1){
    grid-column-start: span 6;
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.top-cards article:nth-child(1) .first-image{
    transition: all 2s ease;
    transform: scale(1);
    overflow: hidden;
}

picture img{
    width: 100%;
    height: 100%;
}
.top-cards article:nth-child(1):hover .first-image{
    transition: all 1s ease;
    transform: scale(1.05);
}
.top-cards article:nth-child(1) .first-image{
    width: 100%;
    object-fit: cover;
}

.first-card{
    padding: 20px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, #000000 30.92%, rgba(0, 0, 0, 0) 100%);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.first-card-tablet-desktop-logo{
    display: flex;
    gap: 10px;
}
.first-card-tablet-desktop-logo p, .first-card h6{
    color: white;
}

/* other CARDs*/
.top-cards article:nth-child(2){
    grid-column-start: span 3;
}
.top-cards article:nth-child(3){
    grid-column-start: span 3;
}

.top-cards article:nth-child(2), .top-cards article:nth-child(3){
    background-color: white;
    box-shadow: 0px 4px 18px -8px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    width: 100%;
}

.top-cards article:nth-child(2):hover,
.top-cards article:nth-child(3):hover{
    box-shadow: var(--card-hover);
}
.top-cards article:nth-child(2) .other-cards-image, 
.top-cards article:nth-child(3) .other-cards-image{
    transition: all 2s ease;
    transform: scale(1);
    overflow: hidden;
    object-fit: cover;
}
.top-cards article:nth-child(2):hover .other-cards-image, 
.top-cards article:nth-child(3):hover .other-cards-image{
    transition: all 1s ease;
    transform: scale(1.05);
    overflow: hidden;
}
.newsCard-content{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.newsCards-article .newsCard-image{
    width: 100%;
    height: 100%;
}

.grid-cards{
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 20px;
}

.newsCards-article{
    background-color: white;
    box-shadow:  0px 4px 18px -8px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    overflow: hidden;
}

.grid-card-content{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
figure, picture, .newsCards-image-div{
    overflow: hidden;
}

.newsCards-article:hover{
   box-shadow: var(--card-hover);
}
.newsCards-article .newsCard-image{
    transition: all 2s ease;
    transform: scale(1);
}
.newsCards-article:hover .newsCard-image {
  transition: all 1s ease;
  transform: scale(1.05);

}

.newsCard-button{
    border: none;
    cursor: pointer;
}

.newsCard-button:hover {
  background-color: var(--hover);
}
    
    
}